.containe{
    background-color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 37em;
    position: absolute;
    left: 27%;
    top: 18%;
}
.tabline{
  border: 1px solid;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
}
.tab{
    border: 1px solid;
    flex: 1;
    padding: 5px 0px;
    width: 100%;
}
.activeTa{
    background-color: #117a7a;
    color: white;
}
.same{
    padding: 9px 44px;
    cursor: pointer;
}
.same:hover{
    background-color: rgb(144, 163, 144);
}